<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:title" content="Face Conference" />
    <meta property="og:description"
      content="This is a video chat web application that can generate meetings for you and your friends to talk, face to face, privately online." />
    <meta property="og:image"
      content="https://raw.githubusercontent.com/mattrbanks/face-conference/15085634bd4326e1847333f7371454a6fb3b6e0f/images/videocam-24px.svg" />
    <meta property="og:url" content="https://face-conference.herokuapp.com/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/views.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Face Conference</title>
    <style>
      html {
        min-height: 100%;
        background: url("https://github.com/mattrbanks/face-conference/blob/master/images/video-call.png?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
      }

      body {
        background-color: transparent !important;
      }
    </style>
  </head>
  <body onload="dashName()">
    <h2 
      id="user-name"
      style="
        text-align: center;
        text-decoration: underline dotted #7073c0;
        color: #7073c0;
      "
    ></h2>
    <div 
      style="
        text-align: center;
        color: #eee;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      "
    >
      <h1>Welcome to your dashboard</h1>
    </div>
    <div style="text-align: center">
      <svg
        width="375"
        height="116"
        viewBox="0 0 375 116"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M59.5 43.5C102.5 12.6775 196.528 69.3036 279 43.5C363.683 17.0043 375.5 9.00068 375.5 9.00068C375.5 9.00068 476.437 -214.007 430 -66.9999C411.754 -9.23755 309.446 76.1563 255.5 75.5001C172.151 74.4862 61.7943 29.6686 -7 110.5C-120.32 243.648 16.5 74.3225 59.5 43.5Z"
            fill="#7073C0"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              width="375"
              height="812"
              fill="white"
              transform="translate(0 -421)"
            />
          </clipPath>
        </defs>
      </svg>
    </div>
    <div id="dash-choices">
      <div id="room-name">
        <div
          id="room-name-inner"
          class="mobile-menu-styles-p mobile-menu-styles-l"
        >
          <h2
            style="
              color: #eee;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                0 -1px black;
            "
          >
            Create a private room
          </h2>
          <form
            id="roomNameFormId"
            name="roomNameForm"
            onsubmit="event.preventDefault(); roomSubmitHandler();"
          >
            <div id="inputRoom" class="form-group">
              <button
                id="new-room-btn"
                type="submit"
                value="Submit"
                class="btn btn-primary"
              >
                Generate Room
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="ex-room-name">
        <h2 
          id="join-room"
          style="
            color: #eee;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          "
        >
          Join an existing room
        </h2>
        <ul id="room-list">
          <a style="text-decoration: none" href="/lobby"
            ><li style="text-decoration: none; color: #000; text-align: center">
              Lobby (For Everyone)
            </li></a
          >
        </ul>
      </div>
    </div>
    <div style="text-align: center">
      <svg
        width="375"
        height="116"
        viewBox="0 0 375 116"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M59.5 43.5C102.5 12.6775 196.528 69.3036 279 43.5C363.683 17.0043 375.5 9.00068 375.5 9.00068C375.5 9.00068 476.437 -214.007 430 -66.9999C411.754 -9.23755 309.446 76.1563 255.5 75.5001C172.151 74.4862 61.7943 29.6686 -7 110.5C-120.32 243.648 16.5 74.3225 59.5 43.5Z"
            fill="#7073C0"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              width="375"
              height="812"
              fill="white"
              transform="translate(0 -421)"
            />
          </clipPath>
        </defs>
      </svg>
      <div style="text-align: center; margin-bottom: 2rem">
        <button
          id="renameBtn"
          class="btn btn-primary"
          style="outline: none"
          onclick="rename();"
        >
          Back to login
        </button>
    </div>
  </body>
</html>
