<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/views.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Document</title>
    <!-- <style>
      #login-name {
        display: flex;
        justify-content: center;
        margin: 30rem 0 0 0;
      }
    </style> -->
  </head>
  <body>
    <div id="loginImg">
      <img
        src="https://github.com/mattrbanks/face-conference/blob/master/images/video-conference.jpg?raw=true"
        alt="a video conference"
      />
      <div style="position: absolute">
        <h1>Welcome To Face Conference</h1>
      </div>
    </div>
    <div id="login-name">
      <div>
        <h2>Please submit your name to login</h2>
        <form
          id="nameFormId"
          name="nameForm"
          onsubmit="event.preventDefault(); submitHandler();"
        >
          <div>
            <label for="name">Name</label>
          </div>
          <div>
            <input
              type="text"
              name="name"
              placeholder="Enter your name"
              required
              class="form-control"
            />
            <button
              id="signInBtn"
              type="submit"
              value="Submit"
              class="btn btn-primary"
            >
              sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
