html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 12px;
  list-style-type: none;
  text-align: center;
  background: #eee;
  border: 0.5px solid #000;
  border-radius: 25px;
  font-size: 18px;
  transition: 0.2s;
  margin-bottom: 0.5rem;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

#room-name {
  margin: 0 2rem 0 0;
  border-right: 0.0625rem solid #7073c0;
}

#room-name-inner {
  margin-right: 2rem;
}

@media (max-width: 500px) and (orientation: portrait) {
  #room-name-inner {
    margin-right: 1rem;
  }
  #room-name {
    margin: 0 0 0 0;
    border-right: 0.0625rem solid #7073c0;
  }
  #join-room {
    margin: 0 0 0 1rem;
  }
  #room-list {
    margin: 0 1rem 0 0;
    padding: 0 0 0 1rem;
  }
  ul li {
    font-size: 1.25rem;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  #room-name-inner {
    margin-right: 1rem;
  }
  #room-name {
    margin: 0 1rem 0 0;
    border-right: 0.0625rem solid #7073c0;
  }
  #join-room {
    margin: 0 0 0 1rem;
  }
  #room-list {
    margin: 0 1rem 0 0;
    padding: 0 0 0 1rem;
  }
  ul li {
    font-size: 1.25rem;
  }
}

#dash-choices {
  display: flex;
  justify-content: center;
}

#ex-room-name {
  margin: 0 0 0 0;
}

#input-room {
  display: flex !important;
}

#new-room-btn {
  margin-top: 1rem;
}

#signInBtn {
  margin-top: 1rem;
}

#login {
  background: url("https://github.com/mattrbanks/face-conference/blob/master/images/video-conference.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#login-screen {
  background-color: #fff;
}

#login-name {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
}

#svg-down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}

#room-body {
  background-color: #000;
  margin-bottom: 3rem;
  position: relative;
}

#room-dock-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}

@media (min-width: 501px) and (orientation: portrait) {
  #room-dock-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 901px) and (orientation: landscape) {
  #room-dock-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

@media (max-width: 500px) and (orientation: portrait) {
  .mobile-menu-styles-p {
    margin: 0 0 0 2rem;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .mobile-menu-styles-l {
    margin-right: 5rem;
  }
}
